@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(5, 15, 86);
}
/*this was the margin and padding*/
*{
    margin: 10;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif,Monospace;
}

nav ul{
    display: center;
    align-items: center;
    list-style-type: none;
    height: 90px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 20px;
}
.brand img{
    width: 46px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.container{
    min-height: 84px;
    background-color: blue;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 27px auto;
   width: 60%;
   border-radius: 13px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    margin: 0;
    /*nirmal */
    bottom: 0;
    height: 130px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column; 
}

.icons{
    margin-top:20 px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 92vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 75px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 33px;
}

.songItem img{
    width: 40px;
    margin: 0 20px;
    border-radius: 35px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 13px;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 2;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
